@model List<Final3.Models.Vehicle>

<h1>All vehicles in our database</h1>
@{
    foreach (var vehicle in Model)
    {
        <ul class="ulStyle">
        <li>@vehicle.Vin</li>
        <li>@vehicle.Brand</li>
        <li>@vehicle.Color</li>
        <li>@vehicle.Year</li>
            <form action="@Url.Action("ClaimsByVehicle",new {id = vehicle.Id})"><button type="submit">Go to vehicle</button></form>
        </ul>
    }
    
}
